.textBlock {
  height: 200px;
  opacity: 0;
  overflow: hidden;
  transition: all 3s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b066e1cc;
  padding: 30px;
  gap: 15px;
  height: 375px;
  width: 400px;
}
h1 {
  text-align: center;
}
input {
  width: 35px;
  background-color: #d3bde1cc;
  border: none;
  height: 50px;
}
