* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
button {
  position: relative;
  padding: 10px;
  background-color: #1c2853cc;
  color: white;
  border: none;
  cursor: pointer;
}
